.button {
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C0C0C0;
    color: #001F54;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #e6e6e6;
        color: #001F54;
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
}